@model SerFy_v2._0.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>User Details</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div>
        @Html.Action("Details", "Users", new { id = Session["UserRealID"] })
    </div>
    <div style="margin-top:10px">
        <button class="btn-default btn" style="margin-top:20px" onclick="location.href='@Url.Action("ChangePassword", "Manage")'">Change Password</button>


    </div>
</div>