@model IEnumerable<SerFy_v2._0.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3" style="background-color:slategray;">
                <div style="height=300" width="200">
                    <img width="100" src="~/Multimedia/Directores/@item.Photograph" onclick="location.href='@Url.Action("Details", "Directors", new { id = item.ID })'">
                    <div class="container">
                        <h4><b>@item.Name</b></h4>
                        <button class="btn btn-default">@Html.ActionLink("Edit Director", "Edit", new { id = item.ID })</button>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

